* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
.dropdown {
  position: absolute;
  top: 70px;
  right: 3rem;
  width: 12rem;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 15px;
  color: #000;
  background-color: #d8d5d5;
  z-index: 100;
  list-style: none;
}
.dropdown::before {
  content: "";
  position: absolute;
  top: -0.65rem;
  right: 8.4rem;
  width: 20px;
  height: 20px;
  background-color: #d8d5d5;
  transform: rotate(45deg);
  border-left: 1px solid grey;
  border-top: 1px solid grey;
}

.dropdown li {
  margin-top: 10px;
  margin-bottom: 10px;
}
.dropdown li a {
  text-decoration: none;
  font-size: 20px;
  margin-left: 15px;
  color: #000;
}
.dropdown li a ion-icon {
  margin-right: 10px;
  margin-bottom: -2px;
  font-size: 20px;
}

/* sidebar-layout */
.main {
  padding: 10px;
  height: 100vh;
}
.layout {
  display: flex;
}

.sidebar {
  min-height: 100%;
  width: 300px;
  border-radius: 5px;
  background-color: #000;
  box-shadow: 0 0 2px gray;
  margin-right: 20px;
  color: white;
}

.content {
  width: 100%;
  height: 100%;
}

.header1 {
  display: flex;
  height: 10vh;
  margin-bottom: 20px;
  box-shadow: 0 0 2px gray;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.header1 .block {
  display: flex;
  position: absolute;
  right: 3rem;
}
.header1 ion-icon {
  margin-right: 25px;
  margin-top: -2px;
  font-size: 25px;
}

.body {
  height: 85vh;
  margin-bottom: 20px;
  box-shadow: 0 0 2px gray;
  background-color: white;
}

.logo img {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 40px;
}
.logo hr {
  width: 15.5rem;
}
.menu {
  margin-top: 50px;
}
.menu-item {
  margin-top: 30px;
}
.menu-item a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.menu-item ion-icon {
  font-size: 1.2rem;
  margin: 0 15px;
}
.active {
  background-color: white;
  padding: 10px;
}
.active a,
.active ion-icon {
  color: #000;
}
